

@import './colors';
@import './material-modifications';

@import 'ember-paper';

@import './routes/_routes';

.LandingPage {
  min-height: 100vh;
  padding: 45px 80px;
  background: -webkit-linear-gradient(300deg, rgba(255,210,0,1) 0%, rgba(255,210,0,1) 55%, rgba(255,255,255,1) 55.1%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
}

.AuthenticationCard {
  max-width: 400px;
  padding: 20px;
  .md-headline {
    text-align: center;
  }
  button.SignupButton {
    background-color: $secondary !important;
    color: white !important;
  }
}

.EnactusUfrgsLogo {
  position: absolute;
  bottom: 15px;
  right: 15px;

  & img {
    max-height: 150px;
    max-width: 150px;
  }
}
