$secondary: #0696D7;
$en-danger: #C41230;
$en-normal: #515356;

$custom-yellow: (
  '50': #FFD200,
  '100': #FFD200,
  '200': #FFD200,
  '300': #FFD200,
  '400': #FFD200,
  '500': #FFD200,
  '600': #FFD200,
  '700': #FFD200,
  '800': #FFD200,
  '900': #FFD200,
  'A100': #FFD200,
  'A200': #FFD200,
  'A400': #FFD200,
  'A700': #FFD200,
  'contrastDefaultColor': #000000,
  'contrastDarkColors': ('50', '100', '200', '300', 'A100'),
  'contrastStrongLightColors': ('400', '500', '600', '700', 'A200', 'A400', 'A700')
);

$primary: $custom-yellow;

@import 'ember-paper';

.LandingPage {
  height: 100vh;
  background: -webkit-linear-gradient(300deg, rgba(255,210,0,1) 0%, rgba(255,210,0,1) 55%, rgba(255,255,255,1) 55.1%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
}

.SignupCard {
  max-width: 400px;
  padding: 20px;
  .md-headline {
    text-align: center;
  }
  button.SignupButton {
    background-color: $secondary !important;
    color: white !important;
  }
}

.EnactusUfrgsLogo {
  position: absolute;
  bottom: 15px;
  right: 15px;

  & img {
    max-height: 150px;
    max-width: 150px;
  }
}
